* {
    margin: 0;
    padding: 0;

}

body {
    box-sizing: border-box;
    /* Photo by Nasa on Unsplash */
    background: url(/images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-size: cover;
    font-family: 'Jost', sans-serif;
    height: 100vh;
}


#si-container {

    padding: 4vh 8vw 2vh 8vw;
    /* height: 100vh; */
    width: 65%;
    border-left: 4px solid white;
    border-right: 4px solid white;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2.7rem;
    color: white;
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: 0.9rem;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    font-family: 'Oswald', sans-serif;

}


.score {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 1.4rem;
    color: rgb(162, 255, 56);
    text-shadow: -2px 0 rgb(6, 16, 110), 0 2px rgb(6, 16, 110), 2px 0 rgb(6, 16, 110), 0 -2px rgb(6, 16, 110);
}

.grid {
    /* background-color: rgb(160, 204, 160); */
    display: flex;
    flex-wrap: wrap;
    width: 375px;
    height: 375px;

    margin: 0 auto 1rem auto;
    /* border: 0.21rem solid rgb(172, 172, 172); */
}

.grid div {
    width: 25px;
    height: 25px;
}

/* buttons */
.si-btn {
    /* margin: 0.5rem 0 1rem 0; */
    background-color: transparent;
    color: rgb(131, 255, 238);
    font-weight: bold;
    border: 0.2rem solid rgb(131, 255, 238);
    padding: 0.2rem 0.5rem;
    letter-spacing: 0.05rem;
    font-size: 1.2rem;
    height: 2.2rem;
}

.refresh-btn {
    margin: 2rem 0 1rem 0;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-left {
    margin-right: 0.5rem;
}


/* note for use of keyboard and buttons */
.note {
    margin: 2rem 0 0 0;
    color: rgb(162, 163, 163);
    font-weight: 600;
    font-size: 0.8rem;
}

/* game objects */
.shooter {
    /* background-color: blue; */
    content: url(images/space-invaders1.png);
}

.invader {
    background-color: rgb(255, 103, 255);
    /* content: url(images/iconfinder_Invader_1_367629.svg) */
    clip-path: polygon(40% 0, 64% 0, 90% 15%, 68% 41%, 88% 77%, 53% 56%, 16% 77%, 37% 42%, 12% 15%);
    /* content: url(images/invader1.png); */
}

.boom {
    background-color: rgb(255, 251, 21);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);

}

.laser {
    clip-path: polygon(46% 1%, 56% 0, 67% 100%, 30% 100%);
    clip-path: polygon(48% 0, 54% 0, 65% 100%, 40% 100%);
    background-color: orange;
}


@media (max-width: 900px) {
    h1 {
        font-size: 2.4rem;
        letter-spacing: 0.7rem;
    }

    #si-container {
        width: 90%;
        padding: 4vh 3vw;
        margin: 0 auto;
        border-left: none;
        border-right: none;
    }


    .score {
        margin-bottom: 1rem;
        font-weight: 700;
        font-size: 1.2rem;
    }

    .grid {
        width: 330px;
        height: 330px;

        margin: 0 auto 1rem auto;
    }

    .grid div {
        width: 22px;
        height: 22px;
    }

    .si-btn {

        font-weight: bold;
        border: 0.2rem solid rgb(131, 255, 238);
        padding: 0.2rem 0.5rem;
        letter-spacing: 0.05rem;
        font-size: 1.1rem;
        height: 2rem;
    }

}

@media (max-width: 480px) {

    body {
        /* Photo by Nasa on Unsplash */
        background: url(/images/nasa-small.jpg);
        background-size: cover;
    }

    h1 {
        font-size: 1.9rem;
        letter-spacing: 0.4rem;
        line-height: 1.5rem;
    }

    #si-container {
        width: 100%;
        padding: 4vh 3vw;
        margin: 0;
    }

    .score {
        margin-bottom: 1.2rem;
        font-weight: 600;
        font-size: 1rem;
    }

    .grid {
        width: 300px;
        height: 300px;
        margin: 0 auto 1rem auto;
    }

    .grid div {
        width: 20px;
        height: 20px;
    }

    .si-btn {
        font-weight: bold;
        border: 0.13rem solid rgb(131, 255, 238);
        padding: 0.2rem 0.3rem;
        letter-spacing: 0.03rem;
        font-size: 0.9rem;
        height: 1.7rem;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
        padding-right: 1rem;
    }

    .note {
        visibility: hidden;
    }

}

@media (max-width: 359px) {

    h1 {
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
    }

    #si-container {
        width: 100%;
        padding: 3vh 3vw;
    }

    .score {
        margin-bottom: 1rem;
        font-weight: 600;
        font-size: 0.9rem;
    }

    .grid {
        width: 270px;
        height: 270px;
        margin: 0 auto 1rem auto;
    }

    .grid div {
        width: 18px;
        height: 18px;
    }

    .si-btn {
        font-weight: bold;
        border: 0.1rem solid rgb(131, 255, 238);
        padding: 0.2rem 0.3rem;
        letter-spacing: 0.03rem;
        font-size: 0.8rem;
        height: 1.4rem;
    }

}