* {
    margin: 0;
    padding: 0;

}

body {
    box-sizing: border-box;
    /* Photo by Nasa on Unsplash */
    background-color: rgb(2, 29, 148);
    background: url(/images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-size: cover;
    font-family: 'Jost', sans-serif;
    height: 100vh;
}


#si-container {

    padding: 4vh 4vw 2vh 4vw;
    /* height: 100vh; */
    width: 75%;
    /* height: 100vh; */
    border-left: 4px solid white;
    border-right: 4px solid white;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 2.7rem;
    color: white;
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: 0.9rem;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    font-family: 'Oswald', sans-serif;

}

.top-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;

}

.tc-right {
    color: rgb(162, 255, 56);
    padding-top: 1rem;
    font-size: 0.7rem;

}

.tc-invader-score {
    align-items: flex-start;
}

.tc-right span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.score {

    font-weight: 700;
    font-size: 1.4rem;
    color: rgb(162, 255, 56);
    text-shadow: -2px 0 rgb(6, 16, 110), 0 2px rgb(6, 16, 110), 2px 0 rgb(6, 16, 110), 0 -2px rgb(6, 16, 110);
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 425px;
    height: 375px;
    margin: 0 auto 1rem auto;
}

.grid div {
    width: 25px;
    height: 25px;
}

/* buttons */
.si-btn {
    background-color: transparent;
    color: rgb(131, 255, 238);
    font-weight: bold;
    border: 0.2rem solid rgb(131, 255, 238);
    padding: 0.2rem 0.5rem;
    letter-spacing: 0.05rem;
    font-size: 1.2rem;
    height: 2.4rem;
}

.start-btn {
    margin: 0 0 0.6rem 0;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}

.btn-dir {
    width: 6rem;
}

.btn-left {
    margin-right: 0.9rem;
}


/* note for use of keyboard and buttons */
.note {
    margin: 3rem 0 0 0;
    color: rgb(162, 163, 163);
    font-weight: 600;
    font-size: 0.8rem;
}

/* game objects */
.shooter {
    content: url(images/space-invaders1.png);
}


.invader {
    clip-path: polygon(40% 0, 64% 0, 90% 15%, 68% 41%, 88% 77%, 53% 56%, 16% 77%, 37% 42%, 12% 15%);
}

.invader1 {
    background-color: rgb(20, 214, 182);
    clip-path: polygon(52% 9%, 92% 23%, 65% 49%, 93% 94%, 56% 67%, 45% 67%, 7% 93%, 38% 48%, 11% 23%);
}

.invader2 {
    background-color: rgb(255, 106, 243);
    clip-path: polygon(52% 9%, 92% 23%, 65% 49%, 93% 94%, 56% 67%, 45% 67%, 7% 93%, 38% 48%, 11% 23%);
}

.invader3 {
    background-color: rgb(67, 251, 107);
    clip-path: polygon(52% 9%, 92% 23%, 65% 49%, 93% 94%, 56% 67%, 45% 67%, 7% 93%, 38% 48%, 11% 23%);
}

.invader4 {
    background-color: rgb(200, 123, 251);
    clip-path: polygon(52% 9%, 92% 23%, 65% 49%, 93% 94%, 56% 67%, 45% 67%, 7% 93%, 38% 48%, 11% 23%);
}



.boom {
    background-color: rgb(255, 251, 21);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    /* clip-path: polygon(48% 44%, 85% 0, 56% 48%, 100% 70%, 55% 56%, 63% 100%, 44% 54%, 0 80%, 40% 49%, 1% 0); */

}

.laser {
    clip-path: polygon(46% 1%, 56% 0, 67% 100%, 30% 100%);
    clip-path: polygon(48% 0, 54% 0, 65% 100%, 40% 100%);
    background-color: orange;
}

.bomb {
    background-color: rgb(255, 43, 43);
    clip-path: polygon(49% 23%, 66% 37%, 65% 62%, 49% 72%, 32% 61%, 31% 37%);
    clip-path: polygon(49% 28%, 63% 36%, 64% 59%, 50% 66%, 34% 60%, 34% 36%);
    clip-path: polygon(48% 26%, 66% 35%, 66% 70%, 49% 76%, 31% 69%, 31% 35%);

}


.shooter-hit {

    background-color: rgb(243, 221, 23);
    clip-path: polygon(48% 44%, 85% 0, 56% 48%, 100% 70%, 55% 56%, 63% 100%, 44% 54%, 0 80%, 40% 49%, 1% 0);
    content: url(images/space-invaders1_hit.png);
}



/* color shooter btn */
.color-shooter {
    border-color: rgb(255, 103, 255);
    opacity: 0.8;
}

.color-btn-dir {
    border-color: rgb(31, 224, 134);
    color: rgb(41, 255, 227);
    /* background-color: rgb(213, 255, 249); */
}

@media (max-width: 1024px) {

    body {
        /* Photo by Nasa on Unsplash */
        background: url(/images/nasa-medium.jpg);
        background-size: cover;
    }

    h1 {
        font-size: 2.6rem;
        letter-spacing: 0.7rem;
        margin-bottom: 3rem;
    }

    #si-container {
        width: 90%;
        padding: 4vh 3vw;
        margin: 0 auto;
        border-left: none;
        border-right: none;
    }


    .score {
        margin-bottom: 6rem;
        font-weight: 700;
        font-size: 1.3rem;
    }

    .grid {
        width: 374px;
        height: 330px;

        margin: 0 auto 6rem auto;
    }

    .grid div {
        width: 22px;
        height: 22px;
    }

    .si-btn {

        font-weight: bold;
        border: 0.2rem solid rgb(131, 255, 238);
        padding: 0.2rem 0.5rem;
        letter-spacing: 0.05rem;
        font-size: 1.3rem;
        height: 2.2rem;
    }

    .note {
        visibility: hidden;
        /* display: none; */
    }

}

@media (max-width: 480px) {

    body {
        /* Photo by Nasa on Unsplash */
        background: url(/images/nasa-small.jpg);
        background-size: cover;
    }

    h1 {
        font-size: 1.9rem;
        letter-spacing: 0.4rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    #si-container {
        width: 100%;
        margin: 4vh 3vw;
        padding: 0;
    }

    .score {
        margin-bottom: 4rem;
        font-weight: 600;
        font-size: 1rem;
    }

    .start-btn {
        margin: 3rem 0 0.3rem 0;
    }

    .grid {
        width: 340px;
        height: 300px;
        margin: 0 auto 4rem auto;
    }

    .grid div {
        width: 20px;
        height: 20px;
    }

    .si-btn {
        font-weight: bold;
        border: 0.13rem solid rgb(131, 255, 238);
        padding: 0.2rem 0.3rem;
        letter-spacing: 0.03rem;
        font-size: 0.9rem;
        height: 2rem;
    }

    .btn-container {
        display: flex;
        justify-content: space-between;
        padding-right: 1rem;
    }

    .btn-left {
        margin-right: 0.6rem;
    }

    .btn-dir {
        width: 4rem;
    }

}

@media (max-width: 359px) {

    h1 {
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
    }

    #si-container {
        width: 100%;
        margin: 3vh 3vw;
    }

    .start-btn {
        margin: 1rem 0 0.3rem 0;
    }

    .score {
        margin-bottom: 3rem;
        font-weight: 600;
        font-size: 0.9rem;
    }

    .grid {
        width: 306px;
        height: 270px;
        margin: 0 auto 3rem auto;
    }

    .grid div {
        width: 18px;
        height: 18px;
    }

    .si-btn {
        font-weight: bold;
        border: 0.1rem solid rgb(131, 255, 238);
        padding: 0.2rem 0.3rem;
        letter-spacing: 0.03rem;
        font-size: 0.8rem;
        height: 1.6rem;
    }

}