/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
    margin: 0;
    padding: 0;

}

body {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgb(2, 29, 148);
    /* Photo by Nasa on Unsplash */
    background: url(/images/nasa-Q1p7bh3SHj8-unsplash.jpg);
    background-size: cover;
    font-family: 'Jost', sans-serif;
    height: 100vh;
}

#si-container {

    padding: 2vh 4vw 2vh 4vw;
    width: 75%;
    border-left: 4px solid white;
    border-right: 4px solid white;
    margin: 0 auto;
}


h1 {
    text-align: center;
    font-size: 2.7rem;
    color: white;
    margin-bottom: 1rem;
    font-weight: 700;
    letter-spacing: 0.9rem;
    text-shadow: -4px 0 black, 0 4px black, 4px 0 black, 0 -4px black;
    font-family: 'Oswald', sans-serif;
}

.top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.tc-right {
    color: rgb(162, 255, 56);
    font-size: 0.7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    margin-left: auto;
}

.tc-invader-score {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.tc-right span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
}

.tc-left h3 {
    font-weight: 700;
    font-size: 1.4rem;
    color: rgb(179, 248, 100);
}


.grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 375px;
    height: 375px;
    margin: 0 auto 1rem auto;
}

.grid div {
    width: 25px;
    height: 25px;
}

.next-level-container {
    display: none;
    position: relative;
    margin: 0 auto 1rem auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 375px;
    height: 375px;
    animation: fadeIn ease 1.5s;
    -webkit-animation: fadeIn ease 1.5s;
    -moz-animation: fadeIn ease 1.5s;
    -o-animation: fadeIn ease 1.5s;
    -ms-animation: fadeIn ease 1.5s;
}

/* animation fadein */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.next-level-container .btn-next-level {
    display: none;
    margin-top: calc(375px/4.4);
    background: rgb(29, 29, 29, 0.7);
    color: rgb(251, 96, 238);
    border-color: rgb(251, 92, 238);
    z-index: 10;
}

.next-level-container #game-over {
    display: none;
    margin-top: calc(375px/4.4);
    text-align: center;
    padding: 0.3rem;
    font-size: 1.4rem;
    width: 9rem;
    height: 2rem;
    background: rgba(19, 19, 19);
    color: rgb(251, 96, 238);
    border-color: rgb(251, 92, 238);
    z-index: 10;
}

.big-invader {
    position: absolute;
    width: 375px;
    height: 375px;
    /* background-color: rgba(39, 255, 190, 0.25); */
    background-color: rgba(41, 225, 241, 0.25);
    -webkit-clip-path: polygon(52% 9%, 92% 23%, 65% 49%, 93% 94%, 56% 67%, 45% 67%, 7% 93%, 38% 48%, 11% 23%);
    clip-path: polygon(52% 9%, 92% 23%, 65% 49%, 93% 94%, 56% 67%, 45% 67%, 7% 93%, 38% 48%, 11% 23%);
}

/* buttons */
.si-btn {
    background-color: transparent;
    color: rgb(131, 255, 238);
    font-weight: bold;
    border: 0.2rem solid rgb(131, 255, 238);
    padding: 0.2rem 0.5rem;
    letter-spacing: 0.05rem;
    font-size: 1.2rem;
    height: 2.4rem;
}

.start-btn {
    margin: 0 0 0.6rem 0;
}

.volume-btn {
    width: 3rem;
    margin-left: 0.5rem;
    padding: 0.1rem 0.3rem;
}

.icon-volume {
    content: url(images/volume3.png);
    height: 1rem;
    text-align: right
}

.icon-mute {
    content: url(images/mute3.png);
    height: 1rem;
}

.btn-icon-plus {
    border: 0;
    background-color: transparent;
    display: none;
}

.icon-plus {
    content: url(images/plus2.png);
    height: 1rem;
    display: none;
}

.icon-minus {
    content: url(images/minus.png);
    height: 1rem;
}

.btn-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.btn-dir {
    width: 6rem;
}

.btn-left {
    margin-right: 0.9rem;
}


/* note for use of keyboard and buttons */
.note {
    margin: 3rem 0 0 0;
    color: rgb(162, 163, 163);
    font-weight: 600;
    font-size: 0.8rem;
}

/* game objects */
.shooter {
    content: url(images/space-invaders1.png);
}


.invader {
    -webkit-clip-path: polygon(40% 0, 64% 0, 90% 15%, 68% 41%, 88% 77%, 53% 56%, 16% 77%, 37% 42%, 12% 15%);
    clip-path: polygon(40% 0, 64% 0, 90% 15%, 68% 41%, 88% 77%, 53% 56%, 16% 77%, 37% 42%, 12% 15%);
}

.invader1 {
    background-color: rgb(20, 214, 182);
    -webkit-clip-path: polygon(52% 9%, 92% 23%, 65% 49%, 93% 94%, 56% 67%, 45% 67%, 7% 93%, 38% 48%, 11% 23%);
    clip-path: polygon(52% 9%, 92% 23%, 65% 49%, 93% 94%, 56% 67%, 45% 67%, 7% 93%, 38% 48%, 11% 23%);
}

.invader2 {
    background-color: rgb(255, 106, 243);
    -webkit-clip-path: polygon(52% 9%, 92% 23%, 65% 49%, 93% 94%, 56% 67%, 45% 67%, 7% 93%, 38% 48%, 11% 23%);
    clip-path: polygon(52% 9%, 92% 23%, 65% 49%, 93% 94%, 56% 67%, 45% 67%, 7% 93%, 38% 48%, 11% 23%);
}

.invader3 {
    background-color: rgb(67, 251, 107);
    -webkit-clip-path: polygon(52% 9%, 92% 23%, 65% 49%, 93% 94%, 56% 67%, 45% 67%, 7% 93%, 38% 48%, 11% 23%);
    clip-path: polygon(52% 9%, 92% 23%, 65% 49%, 93% 94%, 56% 67%, 45% 67%, 7% 93%, 38% 48%, 11% 23%);
}

.invader4 {
    background-color: rgb(200, 123, 251);
    -webkit-clip-path: polygon(52% 9%, 92% 23%, 65% 49%, 93% 94%, 56% 67%, 45% 67%, 7% 93%, 38% 48%, 11% 23%);
    clip-path: polygon(52% 9%, 92% 23%, 65% 49%, 93% 94%, 56% 67%, 45% 67%, 7% 93%, 38% 48%, 11% 23%);
}

.boom {
    background-color: rgb(255, 251, 21);
    -webkit-clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.laser {
    background-color: orange;
    -webkit-clip-path: polygon(48% 0, 54% 0, 65% 100%, 40% 100%);
    clip-path: polygon(48% 0, 54% 0, 65% 100%, 40% 100%);
}

.bomb {
    background-color: rgb(255, 43, 43);
    -webkit-clip-path: polygon(48% 26%, 66% 35%, 66% 70%, 49% 76%, 31% 69%, 31% 35%);
    clip-path: polygon(48% 26%, 66% 35%, 66% 70%, 49% 76%, 31% 69%, 31% 35%);

}

/* .shooter-hit {
    background-color: rgb(243, 221, 23);
    clip-path: polygon(48% 44%, 85% 0, 56% 48%, 100% 70%, 55% 56%, 63% 100%, 44% 54%, 0 80%, 40% 49%, 1% 0);
    content: url(images/space-invaders1_hit.png);
} */


/* color shooter btn */
.color-shooter {
    border-color: rgb(255, 103, 255);
    opacity: 0.8;
}

.color-btn-dir {
    border-color: rgb(31, 224, 134);
    color: rgb(41, 255, 227);
    /* background-color: rgb(213, 255, 249); */
}




@media (max-width: 1024px) {

    body {
        /* Photo by Nasa on Unsplash */
        background: url(/images/nasa-Q1p7bh3SHj8-unsplash.jpg);
        background-size: cover;
    }

    h1 {
        font-size: 2.6rem;
        letter-spacing: 0.7rem;
        margin-bottom: 3rem;
    }

    #si-container {
        width: 90%;
        padding: 4vh 3vw;
        margin: 0 auto;
        border-left: none;
        border-right: none;
    }


    .tc-left h3 {
        font-weight: 700;
        font-size: 1.3rem;
    }

    .grid {
        width: 330px;
        height: 330px;

        margin: 0 auto 6rem auto;
    }

    .grid div {
        width: 22px;
        height: 22px;
    }

    .next-level-container {
        width: 330px;
        height: 330px;
    }

    .next-level-container .btn-next-level {
        /* margin-top:5 85px; */
        margin-top: calc(330px/4.4);
    }

    .next-level-container #game-over {
        margin-top: calc(330px/4.4);
        padding: 0.35rem;
        font-size: 1.3rem;
        width: 8rem;
        height: 1.8rem;
    }

    .big-invader {
        width: 330px;
        height: 330px;
    }

    .si-btn {
        font-weight: bold;
        border: 0.2rem solid rgb(131, 255, 238);
        padding: 0.2rem 0.5rem;
        letter-spacing: 0.05rem;
        font-size: 1.3rem;
        height: 2.2rem;
    }

    .note {
        visibility: hidden;
        /* display: none; */
    }

}

@media (max-width: 480px) {

    body {
        /* Photo by Nasa on Unsplash */
        background: url(/images/nasa-small.jpg);
        background-size: stretch;
    }

    h1 {
        font-size: 1.9rem;
        letter-spacing: 0.4rem;
        line-height: 1.5rem;
        margin-bottom: 1rem;
    }

    #si-container {
        /* width: 90%; */
        /* margin: 4vh 4vw; */
        margin: 4vh auto;
        padding: 0;
    }


    .top-container {
        margin-top: 3rem;
    }

    .tc-left h3 {
        font-weight: 600;
        font-size: 1rem;
    }

    .btn-icon-plus {
        width: 1rem;
        margin-left: auto;
        margin-right: 0.5rem;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .icon-plus {
        display: block;
    }

    .tc-right {
        width: 30%;
        font-size: 0.6rem;
    }

    .tc-invader-scoring-container {
        display: none;
        overflow: hidden;
        text-align: left;
        z-index: 20;
        position: absolute;
        margin-top: 0.5rem;
    }

    .grid {
        width: 300px;
        height: 300px;
        margin: 0 0 4rem 0;
        /* margin: 0 auto 4rem auto; */
    }

    .grid div {
        width: 20px;
        height: 20px;
    }

    .next-level-container {
        width: 300px;
        height: 300px;
    }

    .next-level-container .btn-next-level {
        margin-top: calc(300px/4.4);
    }


    .next-level-container #game-over {
        margin-top: calc(300px/4.4);
        padding: 0.3rem;
        font-size: 1.1rem;
        width: 7rem;
        height: 1.8rem;
    }

    .big-invader {
        width: 300px;
        height: 300px;
    }

    .si-btn {
        font-weight: bold;
        border: 0.13rem solid rgb(131, 255, 238);
        padding: 0.2rem 0.3rem;
        letter-spacing: 0.03rem;
        font-size: 0.9rem;
        height: 2rem;
    }


    .volume-btn {
        width: 2.2rem;
    }

    .icon-volume {
        content: url(images/volume3.png);
        height: 0.9rem;
    }

    .icon-mute {
        content: url(images/mute3.png);
        height: 0.9rem;
    }

    .btn-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding-right: 1rem;
    }

    .btn-left {
        margin-right: 0.6rem;
    }

    .btn-dir {
        width: 4rem;
    }

}

@media (max-width: 359px) {

    h1 {
        font-size: 1.4rem;
        letter-spacing: 0.2rem;
    }

    #si-container {
        margin: 3vh auto;
    }

    .start-btn {
        margin: 0 0 0.3rem 0;
    }

    .tc-left h3 {
        font-weight: 600;
        font-size: 0.9rem;
    }

    .tc-right {
        width: 35%;
    }

    .grid {
        width: 270px;
        height: 270px;
        margin: 0 auto 3rem auto;
    }

    .grid div {
        width: 18px;
        height: 18px;
    }

    .next-level-container {
        width: 270px;
        height: 270px;
    }

    .next-level-container .btn-next-level {
        margin-top: calc(270px/4.4);
    }

    .next-level-container #game-over {
        margin-top: calc(270px/4.4);
        padding: 0.35rem;
        font-size: 1rem;
        width: 6rem;
        height: 1.5rem;
    }

    .big-invader {
        width: 270px;
        height: 270px;
    }

    .si-btn {
        font-weight: bold;
        border: 0.1rem solid rgb(131, 255, 238);
        padding: 0.2rem 0.3rem;
        letter-spacing: 0.03rem;
        font-size: 0.8rem;
        height: 1.6rem;
    }

}